sima:
    extensions:
        - zip
        - pdf
        - doc
        - docx
        - xls
        - xlsx
        - exe
        - com
        - bat
        - dll
        - scr
        - sh
        - pl
        - ALLFILES

